name: Run Pipeline

on:
  workflow_dispatch:

jobs:
  ingest:
    uses: ./.github/workflows/ingest.yaml
    secrets: inherit

  clean:
    needs: ingest
    uses: ./.github/workflows/clean.yaml
    secrets: inherit

  embed:
    needs: clean
    uses: ./.github/workflows/embed.yaml
    secrets: inherit

  extract:
    needs: embed
    uses: ./.github/workflows/extract.yaml
    secrets: inherit
